body{
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.logo {
    width: 300px;
    height: auto;
}

.links {
    display: flex;
    flex-shrink: 0;
    gap: 50px;
}

.links a {
    color: white;
    text-decoration: none !important;
    font-size: 18px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.header { 
    background-color: #171e36;
    color: white;
    padding: 25px 100px 25px 100px;
    gap: 100px;
}

.head-top {
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.head-bottom img{
    border: 5px solid white; 
    max-width: 400px;
    height: auto;
    flex-shrink: 1;
    flex-basis: 150px;
} 

.right {
    max-width: 400px;
    flex-shrink: 1;
    flex-basis: 150px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 150px;
    max-width: 400px;
    gap: 20px;
}

.left .textbig {
    font-size: 48px;
    font-weight: bolder;
}

.left .textsmall {
    font-size: 18px;
}

.head-bottom button{
    background-color:red;
    color: white;
    padding: 10px;
    font-size: 24px;
    border-radius: 20px;
    border: 0;
}

.head-bottom.flex-row{
    justify-content: space-between;
}

.top {
    text-align: center;
    background-color: #404261;
    color: white;
    padding: 50px;
    gap: 50px;
}

.middle {
    background-color: #7a669b;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.texttop{
    font-size: 36px;
    font-style: italic;
    text-justify: auto;
    color: rgba(245, 245, 245, 0.795);
}

.textbot {
    text-align: end;
    color: #171e36;
}

.bottom{
    background-color: #c69cda;
}

.footer {
    background-color: #f8cbed;
}

.card img{
    width: 300px;
    height: 200px;
    border: 5px solid white; 
}

.card.flex-row {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cardbot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 300px;
}

.text-center {
    text-align: center;
    margin-top: 25px;
}

.reference {
    color: red;
}

.footer {
    color: #171e36;
    text-align: center;
    padding: 20px;
}
